<header class="flex md:flex-row flex-col justify-evenly w-full mx-auto  py-6">
    <div class="logo-caja">
        <h1 class="text-center text-3xl md:mb-0 mb-4">My Portfolio</h1>
    </div>
    <div class="nav-caja flex flex-row justify-center">
        <nav class="flex md:flex-row flex-col md:gap-4 gap-2 text-center">
            <a class="text-[17px] hover:text-[#ECE1C3] border-b-2 border-b-transparent hover:border-b-[#ECE1C3]" href="">Inicio</a>
            <a class="text-[17px] hover:text-[#ECE1C3] border-b-2 border-b-transparent hover:border-b-[#ECE1C3]" href="">Contacto</a>
            <a class="text-[17px] hover:text-[#ECE1C3] border-b-2 border-b-transparent hover:border-b-[#ECE1C3]" href="">Proyectos</a>
            <a class="text-[17px] hover:text-[#ECE1C3] border-b-2 border-b-transparent hover:border-b-[#ECE1C3]" href="">Experiencia</a>
        </nav>
    </div>
</header>

<style is:global>
    h1{
        font-family: 'titulo';
    }
</style>