<div class="px-4 md:px-0 w-full mx-auto">
<div class="md:w-7/12 border border-blue-400  rounded-2xl flex justify-center mx-auto my-20 md:my-40 p-4 flex-col">
    <h2 class="text-center text-2xl my-6">Experiencia</h2>
    <div>
        <div class="exp-cont">
            <h3 class="text-[18px]">Primer Trabajo <span id="year-work" class="text-gray-300 text-[15px]">(2020 - 2022)</span></h3>
            <p class="text-[15px]">Lorem ipsum dolor sit amet consectetur adipisicing elit. Minima illo maiores eum quo labore quam quas iusto obcaecati quis. Impedit dicta modi aliquid? Tempora voluptatum debitis cumque nobis est accusamus.</p>
        </div>
        <span class="flex border-b-2 border-blue-400 w-full my-6"></span>
        <div class="exp-cont">
            <h3 class="text-[18px]">Primer Trabajo <span>(2020 - 2022)</span></h3>
            <p class="text-[15px]">Lorem ipsum dolor sit amet consectetur adipisicing elit. Minima illo maiores eum quo labore quam quas iusto obcaecati quis. Impedit dicta modi aliquid? Tempora voluptatum debitis cumque nobis est accusamus.</p>
        </div>
    </div>


</div>
        </div>
<style>
    p{
        font-family: 'light', sans-serif;
    }
    #year-work{
        font-family: 'light', sans-serif;
    }
</style>