<div class="flex md:flex-row flex-col items-center w-full md:w-7/12 justify-center mx-auto md:mt-20 mt-10 gap-8">
    <img id="imagen-inicio" class="mb-10 md:mb-0" src="/image.png" alt="Imagen de inicio" width="300" height="300">
    <div class="w-full md:w-7/12 px-4 md:px-0 flex flex-col justify-center">
        <h2 class="text-center md:text-start text-3xl mb-4">Bienvenido a mi sitio web</h2>
        <p class="text-[15px]">Lorem ipsum dolor sit amet consectetur adipisicing elit. Id at inventore asperiores veritatis blanditiis, veniam optio consectetur repudiandae harum, aperiam, ab similique debitis? Fugiat eum temporibus accusantium nostrum iusto odio!</p>
        <a href="" class="inline-flex md:max-w-max px-6 py-3 rounded justify-center hover:bg-orange-500 hover:scale-[1.03] bg-orange-400 mt-4 text-center">Explorar</a>
    </div>
</div>


<style>

    h2{
        font-family: "titulo", sans-serif;
    }

    #imagen-inicio{
        mask-image: linear-gradient(
            black 70%,
            transparent 100%
        );
    }

</style>